.reasons_container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  margin-top: 5rem;
}
.reasons_img {
  display: flex;
  flex-direction: row;
}
.reasons_img > img:first-of-type {
  width: 400px;
  height: 600px;
}
.reasons_innerImg > img:nth-of-type(1) {
  /* border-radius: 50px; */
  height: 400px;
  border-top-left-radius: 50px;
}
.reasons_innerImg > img:nth-of-type(2) {
  /* width: 400px; */
  height: 200px;
  border-bottom-left-radius: 50px;
}
.reasons_partner {
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
  flex: 1 1;
}
.reasons_partner > section > h3 {
  font-size: 3.5rem;
  text-transform: capitalize;
  -webkit-text-stroke: 1px var(--sec-color);
  -webkit-text-fill-color: transparent;
}
.reasons_partner > section > h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-family: "Hachi Maru Pop", cursive;
}
.stroke {
  -webkit-text-stroke: 1px var(--alt-color);
  -webkit-text-fill-color: transparent;
}
.reasons_why > div {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.reasons_icon {
  margin-right: 1rem;
  color: #fff;
}
.reasons_innerImg {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.partner_logo {
  display: flex;
  gap: 1rem;
}
.partner_logo > img {
  width: 70px;
}
